h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 24pt;
    width: 250px;
    height: 40px;
    padding: 30px;
    margin-top: -10px;
    margin-left: -10px;
    background-color: #777777;
    color: #ffffff;
}

h2 {
    margin-left: -25px;
    font-size: 24pt;
    color: #777777;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    color: #777777;
    margin-top: -80px;
    padding-right: 20px;
}

nav {
    float: right;
}

img {
    float: relative;
    padding-right:0px;
    padding-bottom:0px;
    padding-top:0px;
    margin-left: -25px;
    margin-top:-20px;
}

p {
    width: 1000px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -1px;
    margin-right: 220px;
    margin-left: -30px;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
    color: #777777;
    border: 10px;
    border-color: #000000;
    border-top: 1px solid #777777;
    border-bottom: 1px solid #777777;
}

header{
    margin-left: -245px;
    height: 100px;
    background-color: #ffffff;

    
}

footer {
    margin-left: -245px;
    margin-top: 200px;
    
    height: 60px;
    background-color: #666666;

    

}

body {
    /* background-color: #000000; */
    margin-left: 250px;
    
}

.stupid {
    